/* Basic styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* margin-bottom: 80px; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Nav design */
nav {
    background-color: #0068E2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    margin-left: 20px;
}

nav .logo a img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li.right {
    margin-right: 20px;
    margin-left: auto;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #123251;
    border-radius: 100px;
}

nav .login-signup {
    margin-right: 20px;
}

nav .login-signup a {
    font: bold;
    color: #123251;
    text-decoration: none;
    background-color: white;
    padding: 14px 16px;
    border-radius: 100px;
}

nav .login-signup a:hover {
    color: white;
    background-color: #123251;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
}

/* End of Nav Design */

/* Css for all the text in The Webpage */
h1 {
    color: #333;
}

p {
    color: #555;
}

section {
    margin: 20px;
}

/* Form Section */
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 8px;
}

button {
    padding: 8px 16px;
    background-color: #0068E2;
    color: white;
    border: none;
    cursor: pointer;
}

/* End of form section */

/* Footer  */
footer {
    padding-top: 20px;
    background-color: #f1f1f1;
    /* position: relative;
    bottom: 0;
    left: 0; */
    width: 100%;
    margin-top: auto;
    /* overflow-x: hidden; */
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-columns .footer-column {
    flex-basis: 50%;
    text-align: center;
}

.footer-columns .footer-column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-columns .footer-column ul li {
    margin-bottom: 10px;
}

.footer-columns .footer-column ul li a {
    color: #555;
    text-decoration: none;
}

.social {
    margin-left: 20px;
}

.social p {
    display: block;
    font-weight: bold;
}

.social-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.social-links li {
    /* display: inline-block; */
    /* margin-right: 10px; */
    margin-right: 10px;
}

.social-links li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #333;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
}

.social-links li a img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.clear {
    clear: both;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End of Footer */

/* Find Medicine */
.find-medicines {
    background-color: #0068E2;
    text-align: center;
    padding: 20px;
    color: #fff;
    border-radius: 25px;
    /* height: 222px; */
}

.find-medicines h2 {
    margin-bottom: 3%;
    font-size: 3rem;
}

.find-medicines form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-medicines input[type="text"] {
    width: 200%;
    height: 40px;
    padding: 5px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 20px;
}

.find-medicines button {
    height: 40px;
    padding: 5px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #0068E2;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.find-medicines button:hover {
    background-color: #f1f1f1;
}

.back-grey {
    background-color: #8194a6;
    text-align: center;
    padding: 20px;
    color: #fff;
    border-radius: 25px;
    height: 222px;
}

.img-1 {
    position: relative;
    right: 22.8%;
    bottom: -8.45%;
    height: 222px;
}

h3 {
    font-size: 21px;
    color: rgb(255, 255, 255);
    position: relative;
    left: 219px;
    bottom: 151px;
    /* display: flex; */
}

.back-grey {
    position: relative;
    background-color: #8194a6;
    text-align: center;
    padding: 20px;
    color: #fff;
    border-radius: 25px;
}

.back-grey h3 {
    font-size: 21px;
    color: #fff;
    margin-bottom: 20px;
}

.blue-box {
    position: absolute;
    background-color: #0052a3;
    width: 221px;
    height: 43px;
    left: 50%;
    transform: translateX(50%);
    bottom: 70px;
    border-radius: 13px;
}

@media (max-width: 768px) {
    
}

.blue-box p {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    position: relative;
    color: wheat;
    top: -9px;
}

/* End of find Medicine */

/* About */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin-top: 0;
}

.card-container {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* max-width: 900px; */
}

.card {
    flex-basis: calc(33.33% - 40px);
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    margin-top: 0;
}

.card-content p {
    color: #555;
}

.card-button {
    padding: 10px;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0068E2;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0052A3;
}

.featured-brands {
    color: white;
    text-align: center;
    margin-top: 40px;
    background-color: #555;
}

.featured-brands h2 {
    margin-bottom: 20px;
}

.brand-images {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.brand-image {
    margin: 10px;
}

.brand-image img {
    width: 150px;
    height: auto;
}

/* End of About */

/* Blog */

.blog-section {
    text-align: center;
    margin-top: 40px;
}

.blog-section h2 {
    margin-bottom: 20px;
}

.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.blog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-content {
    padding: 20px;
}

.blog-content h3 {
    margin-top: 0;
}

.blog-content p {
    color: #555;
}



.pagination {
    margin-top: 40px;
}

.page-link {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    color: #0068E2;
    text-decoration: none;
    border: 1px solid #0068E2;
    border-radius: 5px;
}

.page-link:hover {
    background-color: #0068E2;
    color: #fff;
}

.heading {
    /* position: absolute; */
    width: 362px;
    height: 73px;
    left: 95px;
    top: 50px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 166%;
    /* identical to box height, or 73px */

    ;

    color: #0068E2;
}

.big-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: #fff;
    box-shadow: #0052A3 2px 2px 21px -1px;
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box img {
    max-width: 100%;
    max-height: 100%;
}

.box:hover {
    box-shadow: red 2px 2px 2px;

}

#box-unique {
    position: relative;
    width: 393px;
    height: 333px;
    left: 50%;
}

/* Media Query */
/* Hamburger Menu Styles */
.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle .hamburger {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.menu.show {
    display: block;
}

.menu.show li {
    display: block;
    margin-right: 25%;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.submenu-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    z-index: 1;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.submenu-items li {
    display: block;
    margin-bottom: 5px;
}

.submenu-items.show {
    display: block;
}

.submenu-items.show li {
    display: block;
}

.submenu-items li {
    display: inline-block;
}

.submenu-items li a {
    color: white;
    text-decoration: none;
    margin: 0 auto;
}

/* Design for smartphone */

@media (max-width: 767px) {
    .menu-toggle {
        display: block;
    }

    .menu {
        display: none;
    }

    .menu li {
        display: inline-block;
    }

    .submenu-items {
        position: static;
        box-shadow: none;
    }

    .login-signup {
        display: none;
    }

    .blog-card {
        flex: 0 0 100%;
        margin: 10px 0;
    }

    .card-container {
        display: block;
    }

    .card {
        width: 100%;
    }

    .brand-image {
        width: 120px;
        height: 80px;
    }

    .find-medicines input[type="text"] {
        width: 100%;
    }

    .back-grey {
        padding: 10px;
    }

    .blue-box {
        /* width: 180px; */
        height: 35px;
        bottom: -20px;
    }

    .back-grey {
        height: auto;
    }
    
    .img-1 {
        position: static;
        height: auto;
        margin-bottom: 20px;
        width: 100%;
    }
    
    h3 {
        position: static;
        left: 0;
        bottom: 0;
        display: flex;
    }
    
    .blue-box {
        position: static;
        transform: none;
        margin-top: 20px;
        bottom: 0;
    }

}

/* Styles for desktop and larger screens */

@media (min-width: 992px) {

    .blog-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .blog-card {
        flex: 0 0 calc(33.33% - 20px);
        margin: 10px;
    }

}

/* Styles for tablet and larger screens */

@media (min-width: 768px) and (max-width: 991px) {

    .blog-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .blog-card {
        flex: 0 0 calc(50% - 20px);
        margin: 10px;
    }

    .login-signup {
        display: none;
    }

    .card-container {
        display: flex;
        justify-content: center;
    }

    .card {
        width: 30%;
        margin: 10px;
    }

    .brand-image {
        width: 200px;
        height: 120px;
    }

    .back-grey {
        height: auto;
    }
    
    .img-1 {
        position: static;
        height: auto;
        margin-bottom: 20px;
    }
    
    h3 {
        position: static;
        left: 0;
        bottom: 0;
        display: flex;
    }
    
    .blue-box {
        position: static;
        transform: none;
        margin-top: 20px;
        bottom: 0;
    }

}

/* End of Media Query */